{% extends "base.html" %}

{% block content %}
<h2>Data Request</h2>
<form action="/" method="POST">
    <label for="prompt">Prompt:</label>
    <input type="text" name="prompt" id="prompt" required>
    <br>
    <label for="chapters_number">Number of Chapters:</label>
    <input type="number" name="chapters_number" id="chapters_number" required>
    <br>
    <label for="api_key">Api Key:</label>
    <input type="password" name="api_key" id="api_key" autocomplete="off" required style="width: 300;" required>
    <br>
    <input type="submit" value="Submit">
</form>
{% endblock %}