{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="output-rectangle">
        <div class="output-container">
            <div id="content">Placeholder</div> <!-- Start with an empty value -->
        </div>

        <div class="download-button">
            <a href="/download" class="centered-link">Download Output</a>
        </div>
    </div>
</div>


<!-- Include SocketIO JavaScript library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<script>


var socket=io('127.0.0.1:5000');

socket.on('connect',  () => {
    console.log('Connected to server!');
});

socket.on('disconnect', () => {
      console.log('Disconnected from server');
});

socket.on('output_update', function (data) {
    console.log('Recieveed data packet', data);
    $('#content').html(data.output);
});



</script>


{% endblock %}